@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(styles/fonts.css);
@import url(styles/Auth.css);
@import url(styles/Nav.css);
@import url(styles/Search.css);
@import url(styles/Utility.css);
@import url(styles/Profile.css);
@import url(styles/Products.css);
@import url(styles/Cart.css);
@import url(styles/Footer.css);

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  ;

}

:root
{
  --primary-font : 'Lato',sans-serif;
  --accent-color:#000531;
  --background:#fff;
  --box-shadow:0px 0px 4px rgba(0, 0, 0, 0.25);
  --foremost:99999999;
  --second-foremost:9999999;
  --third-foremost:999999;

}